<% include ../partials/header %>

<div class="ui card">
  <div class="image">
    <img src="https://randomuser.me/api/portraits/women/30.jpg">
  </div>
  <div class="content">
    <a href="" class="header"><%= user.title %> <%= user.first %>  <%= user.last %></a>
    <div class="meta">
      <span class="date"><%= user.email %></span>
    </div>
    <div class="meta">
      <span class="date"><%= user.username %></span>
    </div>
    <div class="description">
      <%= user.street %>, 
      <%= user.city %>, 
      <%= user.state %>, 
      <%= user.zip %>
    </div>
  </div>
</div>